.footer {
  width: 100%;
  margin: 0;
  background-color: #222;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
}

.contact {
  margin: 0 auto;
  padding: 2rem 0;
  width: 70vw;
}

.contact p {
  font-size: 14px;
  margin: 0;
  padding: 0;
  color: white;
}

@media (max-width: 550px) {
  .contact {
    width: 90vw;
  }
}