.container {
  margin: 0 auto;
  width: 80vw;
}

.containerContent {
  margin: 5rem auto 0 auto;
  width: 100%;
}

.background {
  background-image: url('../img/waves2.png');
  width: 100%;
  height: 90vh;
  background-size: cover;
  background-attachment: fixed;
}

.headerFlex {
  display: flex;
  height: 90vh;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  padding: 6rem 0;
}

.logo {
  max-width: 30%;
  margin-left: 3rem;
}

.headerTitle,
.description {
  margin: 0 1rem;
  color: white;
}

.headerTitle {
  font-size: 64px;
  max-width: 350px;
}

.description {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  max-width: 500px;
  font-size: 32px;
  line-height: 2.5rem;
}

.tagline {
  font-size: 1.5rem;
  font-style: italic;
}

@keyframes bounce {
  from { transform: translate(0, -50px);     }
  to   { transform: translate(0, -60px); }
}

.clickMe {
  width: 70%;
  text-align: center;
  margin: 0 auto;
  transform: translate(0, -50px);
  animation: bounce 0.7s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

.downArrow {
  color: white;
}

.boxSystems,
.boxServices,
.boxSupport {
  height: 500px;
  padding: 3rem;
  margin: 0;
  box-shadow: 0 0.125rem 1.25rem rgba(0,0,0,.2);
}

.boxSupport h4 {
  margin-bottom: .5rem;
}

.boxSystems {
  width: 500px;
}

.boxSystems,
.boxServices {
  /* border-radius: 0 1rem 1rem 0; */
}

.boxSupport {
  width: 500px;
  /* border-radius: 1rem 0 0 1rem; */
}

.boxServices {
  width: 500px;
}

.imageOne,
.imageTwo,
.imageThree {
  margin: 1rem 0 1rem 0;
  height: 500px;
  box-shadow: 0 0.125rem 1.25rem rgba(0,0,0,.2);
}

.imageOne,
.imageThree {
  /* border-radius: 1rem 0 0 1rem; */
}

.imageTwo {
  /* border-radius: 0 1rem 1rem 0; */
}

.imageThree {
  max-width: 900px;
}

.flexCapability,
.flexCapabilityTwo {
  width: 80vw;
  margin: 0 auto 10rem auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.testimonial {
  width: 60vw;
  margin: 0 auto;
  text-align: center;
  font-style: italic;
  color: #003661;
}

.support,
.management {
  padding: 6rem 0;
}

hr {
  margin: 0;
}

.mgmtFlex {
  display: flex;
  flex: 50% 50%;
}

.mgmt {
  width: 50%;
  text-align: center;
  padding: 3rem;
}

.mgmt h4 {
  margin-top: 1rem;
}

.quote {
  font-style: italic;
}

@media (max-width: 1100px) {
  .mgmtFlex {
    flex-direction: column;
    align-items:center;
  }
  .mgmt {
    width: 80%;
    padding: .5rem;
  }
  .description {
    font-size: 24px;
  }
  .tagline {
    font-size: 1.25rem;
  }
  .flexCapability {
    flex-direction: column;
  }
  .flexCapabilityTwo {
    flex-direction: column-reverse;
  }
  .boxServices,
  .boxSupport,
  .boxSystems {
    border-radius: 1rem;
  }

  .imageOne,
  .imageTwo,
  .imageThree {
    border-radius: 1rem;
    max-width: 90vw;
    height: auto;
  }
}

@media (max-width: 768px) {
  .headerFlex {
    flex-direction: column;
    padding: 3rem 0 3rem 0;
    justify-content: flex-start;
    padding-top: 6rem;
  }
  .boxContainer {
    width: 70vw;
  }
  .logo {
    max-width: 40%;
    margin-left: 1.2rem;
  }
  .support,
  .management {
    padding: 1rem 0;
  }
  .mgmt {
    width: 100%;
    padding: .5rem;
  }
  .background {
    background-attachment: scroll;
  }
  .flexCapability,
  .flexCapabilityTwo {
    margin-bottom: 2rem;
  }
  .boxServices,
  .boxSupport,
  .boxSystems {
    border-radius: 1rem;
    width: 90vw;
    padding: 1rem;
  }
}

@media (max-width: 550px) {
  .container {
    margin: 0 auto;
    width: 90vw;
  }
  .boxContainer {
    width: 90vw;
  }
  .headerFlex {
    padding-top: 3rem;
  }
  .background {
    height: 90vh;
  }
  .headerTitle {
    padding-bottom: 2rem;
    font-size: 48px;
  }
  .description {
    font-size: 20px;
    line-height: 2rem;
  }
  .tagline {
    font-size: 1rem;
  }
  .logo {
    max-width: 60%;
  }
}

@media (max-width: 350px) {
  .description {
    font-size: 16px;
    line-height: 1.5rem;
  }
  .tagline {
    font-size: .75rem;
  }
}