html {
  height: 100%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  position: relative;
  margin: 0;
  padding-top: 3rem;
  padding-bottom: 15rem;
  min-height: 100%;
}
