@import url('https://fonts.googleapis.com/css?family=Coda');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400');

html {
  height: 100%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  position: relative;
  margin: 0;
  padding-top: 3rem;
  padding-bottom: 15rem;
  min-height: 100%;
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'Coda', sans-serif;
}

p, li {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}