@import url('https://fonts.googleapis.com/css?family=Montserrat:500');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400');

html {
  height: 100%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  position: relative;
  margin: 0;
  padding-top: 0;
  padding-bottom: 15rem;
  min-height: 100%;
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}

h1, h2 {
  color: #003661;
}

p, li, a, label {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

svg {
  color: #082C7F;
}

@media (max-width: 1000px) {
  body {
    padding-bottom: 20rem;
  }
}

@media (max-width: 768px) {
  body {
    padding-bottom: 30rem;
  }
}