.navLink {
  font-family: 'Open Sans';
  font-size: 1rem;
  text-decoration: none;
  background-image: none;
  text-shadow: none;
  margin: 0 1.2rem;
  padding-top: 8px;
  padding-bottom: 17px;
  color: white;
}

.navWhite {
  color: white;
}

.navBlack {
  color: black;
}

.navWhite:hover {
  border-bottom: 2px solid #fff;
}

.navBlack:hover {
  border-bottom: 2px solid #000;
}

.activeWhite {
  border-bottom: 2px solid #fff;
}

.activeBlack {
  border-bottom: 2px solid #000;
}

.nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: none;
  overflow: hidden;
  position: fixed;
  top: 0;
  padding-top: 10px;
  width: 100%;
  z-index: 99;
}

.headerOne {
  height: 100px;
  transition: 0.5s ease;
}

.headerTwo {
  height: 60px;
  background: white;
  transition: 1s ease;
  box-shadow: 0 0.125rem 1.25rem rgba(0,0,0,.2);
}

a {
  background-image: none;
}

.activeTest {
  border: 3px solid red;
}

@media (max-width: 550px) {
  .navLink {
    display: none;
  }
  .headerOne {
    height: 60px;
  }
}