.container {
  margin: 0 auto;
  width: 70vw;
}

.projectsGrid {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-auto-rows: 250x;
  grid-auto-flow: dense;
}

.imageCard img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.coverImg {
  width: 100%;
  text-align: center;
}

.coverImg img {
  width: 100%;
}


@media (max-width: 550px) {
  .container {
    margin: 0 auto;
    width: 90vw;
  }
}