.container {
  margin: 0 auto;
  padding: 6rem 0 5rem 0;
  width: 70vw;
}

.title {
  margin: 0 0 2rem 0;
}

.quoteBox {
  margin: 1rem 0 3rem 0;
  padding: .5rem 1rem;
  box-shadow: 0 0.125rem 1.25rem rgba(0,0,0,.2);
}

.quoteBox p {
  margin: 0;
}

@media (max-width: 550px) {
  .container {
    margin: 0 auto;
    width: 90vw;
  }
}